body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 0;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: "OpenSansLight";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
.easy-transform-fast {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.easy-transform-slow {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.wrapper {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media only screen and (min-width: 1520px) {
  .wrapper {
    padding: 0px;
  }
}
header {
  width: 100%;
  height: auto;
}
header .header_telephone_bar {
  background: #79d1c0;
  overflow: hidden;
  padding: 10px 0px;
}
header .header_telephone_bar .header_contact_data {
  float: right;
}
header .header_telephone_bar .header_telephone_icon {
  width: 14px;
  margin-right: 15px;
  float: left;
}
header .header_telephone_bar .header_telephone_icon img {
  width: 100%;
}
header .header_telephone_bar p {
  float: left;
}
header .header_telephone_bar p a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-family: "OpenSansSemiBold";
}
header .main_bar {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
}
header .main_bar .logo {
  float: left;
}
header .main_bar .logo img {
  height: 100px;
  width: auto;
  padding: 20px 0px;
}
header .main_bar nav {
  float: right;
}
header .main_bar nav ul {
  font-family: "OpenSansSemiBold";
  font-style: 15px;
  line-height: 120px;
}
header .main_bar nav ul li {
  display: inline-block;
  margin-left: 40px;
}
header .main_bar nav ul li a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
section#baner {
  width: 100%;
  height: auto;
  background-color: #efefef;
  overflow: hidden;
}
section#baner .welcome {
  margin-bottom: 10px;
  background-color: #79d1c0;
  width: calc(100% - 120px);
  height: auto;
  overflow: hidden;
  padding: 33px 60px;
}
section#baner .welcome .welcome_title {
  font-size: 46px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  font-family: "OpenSansLight";
  padding-bottom: 10px;
  text-align: center;
}
section#baner .welcome .welcome_title span {
  font-size: 46px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  line-height: 50px;
  font-family: "OpenSansSemiBold";
}
section#baner .welcome .welcome_text {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  line-height: 26px;
  text-align: center;
}
section#baner .welcome_images {
  width: 100%;
  height: auto;
  overflow: hidden;
}
section#baner .welcome_images .oneoftwo {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#baner .welcome_images .oneoftwo {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
@media only screen and (min-width: 992px) {
  section#baner .welcome_images .oneoftwo .left {
    padding-right: 5px;
  }
}
section#baner .welcome_images .oneoftwo .left img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  section#baner .welcome_images .oneoftwo .right {
    padding-left: 5px;
  }
}
section#baner .welcome_images .oneoftwo .right img {
  width: 100%;
  height: 205px;
  object-fit: cover;
}
section#baner .welcome_images .oneoftwo .right img:first-child {
  margin-bottom: 10px;
}
section#our-services {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 60px 0px;
}
section#our-services h1 {
  font-size: 40px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  line-height: 50px;
  font-family: "OpenSansSemiBold";
  text-align: center;
  margin-bottom: 20px;
}
section#our-services p {
  font-size: 16px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  line-height: 26px;
  font-family: "OpenSansRegular";
  text-align: center;
}
section#our-services-details {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #efefef;
}
section#our-services-details .oneoffour {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#our-services-details .oneoffour {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
@media only screen and (min-width: 1520px) {
  section#our-services-details .oneoffour {
    display: inline;
    float: left;
    width: 25%;
    margin: 0 0%;
  }
}
section#our-services-details .oneoffour .box {
  background: #5bbdaa;
}
section#our-services-details .oneoffour .inner_box {
  padding: 30px 30px;
}
section#our-services-details .oneoffour .circle {
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 0px auto 30px auto;
  position: relative;
}
section#our-services-details .oneoffour .circle img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 25px;
  left: 25px;
}
section#our-services-details h2 {
  font-size: 23px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  font-family: "OpenSansRegular";
  text-align: center;
  margin-bottom: 30px;
}
section#our-services-details p {
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  line-height: 23px;
  font-family: "OpenSansLight";
  text-align: center;
}
section#our-services-details .oneoffour:nth-of-type(even) .box {
  background: #81e9d5;
}
section#access {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 30px 0px;
}
section#access .one-of-two {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#access .one-of-two {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
@media only screen and (min-width: 1520px) {
  section#access .one-of-two {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
section#access .one-of-two .box-one-of-two .access-box {
  display: flex;
  justify-content: space-between;
}
section#access .one-of-two .box-one-of-two .access-box .access-foto {
  margin: auto;
}
section#access .one-of-two .box-one-of-two .access-box .access-foto img {
  width: 200px;
  height: auto;
  margin-right: 50px;
}
section#access .one-of-two .box-one-of-two .access-box p {
  font-size: 17px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  line-height: 29px;
  font-family: "OpenSansRegular";
  text-align: left;
}
section#our-data {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #79d1c0;
}
section#our-data .one-of-three {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#our-data .one-of-three {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
@media only screen and (min-width: 1520px) {
  section#our-data .one-of-three {
    display: inline;
    float: left;
    width: 33.33333333%;
    margin: 0 0%;
  }
}
section#our-data .one-of-three .box-one-of-three {
  margin: 30px 0px 30px 30px;
  display: flex;
  justify-content: space-between;
}
section#our-data .one-of-three .footer-box {
  display: flex;
  justify-content: space-between;
}
section#our-data .one-of-three .footer-box img {
  width: 100px;
  height: auto;
  margin-right: 30px;
}
section#our-data .one-of-three .footer-box p {
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  line-height: 100px;
  font-family: "OpenSansSemiBold";
  text-align: left;
}
section#our-data .one-of-three .footer-box p a {
  text-decoration: none;
  color: #fff;
}
section#second-menu {
  width: 100%;
  height: auto;
  background: #efefef;
  overflow: hidden;
}
section#second-menu .box-second-menu {
  width: 100%;
  height: auto;
}
section#second-menu .box-second-menu ul {
  display: flex;
  justify-content: center;
}
section#second-menu .box-second-menu ul li {
  display: inline-block;
  margin-left: 35px;
}
section#second-menu .box-second-menu ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 35px;
  font-family: "OpenSansSemiBold";
}
section#bottom-bar {
  width: 100%;
  height: auto;
  background: #79d1c0;
  overflow: hidden;
}
section#bottom-bar .one-of-two {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#bottom-bar .one-of-two .box-bottom-bar p {
    font-size: 11px;
    font-weight: 400;
    color: #c5f2e9;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 23px;
    font-family: "OpenSansRegular";
  }
}
section#bottom-bar .box-bottom-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
section#bottom-bar .box-bottom-bar p {
  font-size: 10px;
  font-weight: 400;
  color: #c5f2e9;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 23px;
  font-family: "OpenSansRegular";
}
section#contact-label {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #79d1c0;
  padding: 12px 0px;
}
section#contact-label .white-box {
  width: 580px;
  height: 87px;
  background: #fff;
  margin: 0px auto;
}
section#contact-label .white-box h1 {
  font-size: 43px;
  font-weight: 50;
  color: #79d1c0;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 87px;
  font-family: "OpenSansLight";
  text-align: center;
}
section#contact {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #efefef;
  padding: 35px 0px;
}
section#contact .our-contact {
  width: 100%;
  height: auto;
  overflow: hidden;
}
section#contact .our-contact .one-of-two {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#contact .our-contact .one-of-two {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
section#contact .our-contact .one-of-two .box-contact {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #f62b2b;
}
section#contact .our-contact .one-of-two .box-contact h1 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 28px;
  font-family: "OpenSansRegular";
  text-align: center;
}
section#contact .our-contact .one-of-two .box-contact .contact-data {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: blue;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
@media only screen and (min-width: 992px) {
  section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
  }
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .left-data {
  width: 100%;
  height: auto;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .left-data .box-data {
  width: 100%;
  height: auto;
  overflow: hidden;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .left-data .box-data .box-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .left-data .box-data .box-icon img {
  width: 100%;
  height: auto;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .left-data .box-data p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  line-height: 28px;
  font-family: "OpenSansSemiBold";
  text-align: center;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .right-data {
  width: 100%;
  height: 100px;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .right-data .box-data {
  width: 100%;
  height: auto;
  overflow: hidden;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .right-data .box-data .box-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .right-data .box-data .box-icon img {
  width: 100%;
  height: auto;
}
section#contact .our-contact .one-of-two .box-contact .contact-data .one-of-two-data .right-data .box-data p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  line-height: 28px;
  font-family: "OpenSansSemiBold";
  text-align: center;
}
section#contact .our-contact .one-of-two .form {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  section#contact .our-contact .one-of-two .form h1 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 28px;
    font-family: "OpenSansRegular";
    text-align: center;
  }
}
